
demoData/2001.tif
demoData/N0_AKestrel_1978_1982.tif
demoData/N0_AKestrel_1976_1980.tif
demoData/LULC_1995.tif
demoData/N0_AKestrel_1977_1981.tif
readAndWrite.Rmd
readingFiles.Rmd
scaling.Rmd
scalingTime.Rmd
demoData/India_cropped-area_1km_2016.tif
demoData/Carya_ovata_sim_disc_1km.tif
demoData/Carya_ovata_sim_disc_10km.tif
demoData/2002.tif
cubeOps.Rmd
demoData/.DS_Store
plotting.Rmd
demoData/cubeDay.nc4
